* {
    font-size: 15px;
    margin: 0.5em;
    font-family: Arial;
    display: block;
}

way {
    font-size: 24px;
}

stop {
    margin: 10px;
    display: list-item;
    list-style: disc;
}

timestart {
    text-decoration: underline;
    display: list-item;
    list-style: square;
}